

body {
    font-family: Arial, sans-serif; 
    background-color: #89f49f;
}

.navbar {
    position: relative; /* or position: fixed; */
    z-index: 1000; /* Ensure this is higher than the carousel */
}

h1, h2 {
    color: #333; 
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(6, 149, 6, 0.1);
    margin-bottom: 20px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2d0d6e;
    border-radius: 4px;
}

button {
    background-color: #022c0c;
    color: rgb(9, 4, 39);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #48c866;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

